<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-balanced tabs-icon-top">
        <ion-tab title="Routes" icon="ion-android-walk" href="#/page1/routeD">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Locations" icon="ion-ios-location" href="#/page1/page5">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Snap" icon="ion-ios-camera" href="#/page1/page6">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Book" icon="ion-ios-book" href="#/page1/bookinfo">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Login" icon="ion-log-in" href="#/page1/page11">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>